################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/OidcWebApi
/src/OidcConsole
/src/OidcJavaScript
/.vs/OpenIdConnect/v15/Server/sqlite3
/.vs
